@{
    ViewData["Title"] = "O Programie";
}
<div style="background-color: #f0d9b5">
    <h2>@ViewData["Title"]</h2>
    <h3>Autor Sławomir Nowiński</h3>
    <h3>Aplikacja wykorzystuje publiczne API chessboard.js działające na licencji MIT.</h3>

    <p>Aplikacja składa się z 2 warstw po stronie klijenta, edycyjnej oraz grywalnej. </p>
    <p>Warstwa edycyjna polega na możliwości edycji mapy wg. własnych potrzeb oraz 
    w celu późniejszego rozegrania partji możliwości zapisu. </p>
    <p>Warstwa gry daje możliwość rozgrania gry w szachy zapisu tej gry do pliku oraz odczytania wcześniej zapisanej gry. </p>
    <p>W warstwie Gry można również uczestniczyć w grze z komputerem</p>
</div>

